<div class="dv-campus-personal-discount-request">
    <form class="form dv-campus-personal-discount-form"
          action="/errors/404.php"
          onsubmit="return false;"
          method="post"
          data-mage-init='{"DVCampus_PersonalDiscount_form":{
              "action": "<?= $escaper->escapeHtmlAttr($block->getUrl('dvcampus_personal_discount/index/request')) ?>",
    "isModal": <?= $escaper->escapeHtmlAttr($isModal) ?>
    }}'
    >
    <fieldset class="fieldset">
        <legend class="legend">
            <span><?= $escaper->escapeHtml(__('Discount Request')) ?></span>
        </legend>
        <br/>
        <?php // @TODO: Get current customer name and email for logged in customers ?>
        <div class="field name required">
            <label class="label" for="name">
                <span><?= $escaper->escapeHtml(__('Name')) ?></span>
            </label>
            <div class="control">
                <input name="name"
                       data-bind="value: customerName"
                       title="<?= $escaper->escapeHtmlAttr(__('Name')) ?>"
                       class="input-text"
                       type="text"
                       data-validate="{required:true}"
                />
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email">
                <span><?= $escaper->escapeHtml(__('Email')) ?></span>
            </label>
            <div class="control">
                <input name="email"
                       data-bind="value: customerEmail"
                       title="<?= $escaper->escapeHtmlAttr(__('Email')) ?>"
                       class="input-text"
                       type="email"
                       data-validate="{required:true, 'validate-email':true}"
                />
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email">
                <span><?= $escaper->escapeHtml(__('Message')) ?></span>
            </label>
            <div class="control">
                    <textarea name="message"
                              data-bind="value: customerMessage"
                              title="<?= $escaper->escapeHtmlAttr(__('Message')) ?>"
                              class="input-text"
                              data-validate="{required:true}"
                    ></textarea>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    title="<?= $escaper->escapeHtmlAttr(__('Send Request')) ?>"
                    class="action submit primary"
            >
                <span><?= $escaper->escapeHtml(__('Send Request')) ?></span>
            </button>
        </div>
    </div>
    </form>
</div>
